<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <form method ="get" action = "#">
        <div class="form-group">
            <div class="input-group" id="app-gl">

                <div class="input-group-prepend">
                    <button onclick="traerUbicacion()" class="btn btn-outline-secondary" type="button"><i class="fa fa-map-marker"></i></button>
                </div>
                    <input id="busqueda" type="search" class="form-control" placeholder="Tu ciudad" list="list" name="lugar"/>
                    <datalist id="list" class="dlist"></datalist>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="">Buscar</button>
                </div>
            </div>
            <label id="respuesta" class="text-secondary"> </label>
			<input id="country" type="text" class="form-control" placeholder="country" list="list" name="a"/>
			<input id="state" type="text" class="form-control" placeholder="state" list="list" name="b"/>
			<input id="county" type="text" class="form-control" placeholder="county" list="list" name="c"/>
			<input id="city" type="text" class="form-control" placeholder="county" list="list" name="d"/>
			<input id="district" type="text" class="form-control" placeholder="city" list="list" name="e"/>
			<input id="street" type="text" class="form-control" placeholder="street" list="list" name="f"/>
			<input id="housenumber" type="text" class="form-control" placeholder="housenumber" list="list" name="g"/>
			<input id="postalcode" type="text" class="form-control" placeholder="postalcode" list="list" name="h"/>		
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="geoText.js"></script>
</body>