﻿@model geotexttest.Models.proyecto
<head>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="jumbotron">
                <h2 class="centrar">Solicitar servicio de afsaf</h2>
                <p>A continuación se te guiará para solicitar tu servicio. Una vez finalices, te estarán llegando ofertas de distintos profesionales que cumplan con tus requerimientos</p>

                <form method="get" action="#">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button onclick="traerUbicacion()" class="btn btn-default" type="button">Traer ubicación</button>
                            </span>
                            @Html.TextBoxFor(m => m.FullAdress, new { placeholder = "Direccion", @class = "form-control", @Id = "busqueda" })
                            @*<input id="busqueda" required="required" oninvalid="this.setCustomValidity('Has click en el boton Traer Ubicación')" type="text" style="width:100%" class="form-control" placeholder="Tu ciudad" list="list" name="FullAdress" />*@
                        </div>
                        <label id="respuesta" class="text-secondary"> </label>
                        <br />
                        @*<label>country</label>*@ <input id="country" type="hidden" class="form-control" placeholder="country" list="list" name="country" />
                        @*<label>state</label>*@<input id="state" type="hidden" class="form-control" placeholder="state" list="list" name="state" />
                        @*<label>county</label>*@<input id="county" type="hidden" class="form-control" placeholder="county" list="list" name="county" />
                        @*<label>city</label>*@ @Html.TextBoxFor(m => m.City, new { placeholder = "Direccion", @class = "form-control", @Id = "city" })
                        @*<label>district</label>*@<input id="district" type="hidden" class="form-control" placeholder="district" list="list" name="district" />
                        @*<label>street</label>*@<input id="street" type="hidden" class="form-control" placeholder="street" list="list" name="street" />
                        @*<label>housenumber</label>*@<input id="housenumber" type="hidden" class="form-control" placeholder="housenumber" list="list" name="housenumber" />
                        @*<label>postalcode</label>*@
                        @Html.TextBoxFor(m => m.PostalCode, new { placeholder = "Direccion", @class = "form-control", @Id = "postalcode" })

                    </div>
                </form>
                <button id="submiter" type="submit" class="btn btn-primary">Empezar!</button>
                <a href="/proyecto/AgregarNuevoProyecto" class="btn btn-default">Volver</a>
            </div>
        </div>
    }
    <script type="text/javascript">
        var jq331 = jQuery.noConflict(true);
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="~/Scripts/geoText.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</body>